/* Master styles*/
body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    background-image: url("1.jpg");
    background-color: white;
    height: 600px;
    background-position: center top; 
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;

    
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    
    padding: 38px;
    background-color: white;
}




.right-side > div{
    
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.left-side:hover{
    
    border-bottom: 1px solid grey;
}



/* Contact styles*/

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}




@media screen and (min-width: 700px) {
    .contactFormPos {
        padding: 15px;
        font-size: 25px;
    }
    .right-side > div{
        font-size: 35px;  
    }
    .contactForm{
        height: 330px;
          
    }

    .site-logo > img {
        width: 65px;
        height: 65px;
    }
    
    .left-side{
        height: 65px;
        width: 65px;
    }

    .right-side {
        height: 65px;
        
        
    }
}



@media screen and (max-width: 699px) {
    .contactFormPos {
      font-size: 10px;
    }
    .right-side > div{
        font-size: 15px;  
    }
    .contactForm{
        height: 230px;
          
    }

    .site-logo > img {
        width: 48px;
        height: 48px;
    }
    
    .left-side{
        height: 48px;
        width: 48px;
    }

    .right-side {
        height: 48px;
        
        
    }

}

.contactFormPos{
    padding: 5px;
    background-color: rgb(255, 255, 255,0.4);
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.gsm1{
    position: relative;
    left:10%;
}

.gsm2{
    position: relative;
    left:10%;
}

.googleMap>iframe{
    height:auto;
    width: 70%;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


/* Contact us styles*/

.contactUs{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.contactUs>.titleContactUs{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.text-box,.text-area,.send-btn{
    
    
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: rgb(255, 255, 255,0.4);
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    

    
}

.author{
    padding: 5px;
    text-align: center;
    font-size: 2vw;
    color: rgb(0,0,0,0.4);
}





